// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.resolved, .open {
  width: 89px;
}


#issue {
}

.status {
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 5px;
  z-index: 5;

  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  &.open {
    background: #ff9d9d;
  }
  &.resolved {
    background: #c7ffbe;
  }
}
