// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.resolved, .open {
  width: 89px;
}


#issue {
  .actions {
    a {
      display: block;
      float: left;
      width: 80px;
      text-align: center;
    }
  }
}

.status {
  background: #c7ffbe;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 5px;


  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
