// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.due {
  margin-top: 4px;
  float: right;
}

.status {
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 4px;
  z-index: 5;

  &.open {
    background: #d14741;
  }
  &.resolved {
    background: #51A451;
  }
}

#issue {
}

.issue-details {
  margin-top: 4px;
  margin-bottom: 3px;
  p {
    color: #999;
    display: inline;
    margin-right: 10px;
  }
}

#new-issue-form {
  color: #fff;
  padding: 30px 15px;
  background: #333;
  border: 1px solid #bebebe;

  border-radius: 5px;
  
  .field.left {
    float: left;
  }
  .field.left:first-child {
    margin-right: 10px;
  }

  #date {
    width: 100px;
  }

  input, textarea {
    border: 1px solid #333333;
  }

  input {
    padding: 8px;
    font-size: 14px;
    width: 500px 
  }

  textarea {
    height: 85px;
    padding: 8px;
    font-size: 14px;
    width: 628px 
  }
  .control-label {
    text-align: left;
    width: 80px;
  }
}
.new-issue {
  float: left;
}

.issue-actions {
  float: right;
  margin-top: 3px;
  width: 500px;
  p {
    &.current {
      border-bottom: 2px solid #777;
    }
    span {
      font-weight: bold;
    }
  }
}
