// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#project {
  #issues {
  }

  #issue-list {

    border-bottom: #f1f1f1;
  }

  .issue {
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #f6f6f6;
    clear: both;
    overflow: hidden;
    padding: 5px;
    padding-bottom: 4px;
    position: relative;

    .date {
      font-weight: 500;
      &.resolved {
        color: #438743;
      }
      &.open {
        color: #777;
      }
      &.overdue {
        color: #D14741;
      }
      &.today {
        color: #F89406;
      }
    }

    &:first-child {
      border-top: 0;
    }

    .left { float: left; }
    .right { float: right; }

    .icon-check,
    .icon-check-empty {
      color: #666;
      cursor: pointer;
      font-size: 15px;
      margin-right: 2px;
    }

    h4 {
      margin: 0;
      a {
        color: #4e4e4e;
        &:hover {
          color: #222;
          text-decoration: none;
        }
      }
      &.resolved {
        a {
          color: #888;
        }
      }
    }
    p {
      color: #888;
      margin-bottom: 0;
      margin-top: 0px;
    }
  }
}

#actions {
  .btn-black {
    margin-bottom: 10px;
  }
}

#issue-progress {
  background: #ccc;
  clear: both;
  height: 5px;
  width: 100%;
  & > div {
    height: 5px;
    float: left;
  }
  #open {
    background: #000;
    width: 0;
  }
  #resolved {
    background: #51A451;
  }
  #today {
    background: #F89406;
  }
  #overdue {
    background: #D14741;
  }
}

.project-edit {
}
